BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

ColumnLimit: 120

BinPackArguments: true
BinPackParameters: true

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
